* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('todo.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.add-task-container {
    width: 350px;
    background-color: #fff;
    height: 70px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.input-task {
    flex: 5;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 5px;
}

.input-task:hover {
    border: 1px solid #00f;
}

.add-task {
    transition: .3s;
    flex: 1;
    padding: 5px 5px;
    border: 1px solid #0f0;
    border-radius: 5px;
    color: #0f0;
    background: #fff;
}

.add-task:hover {
    color: #fff;
    background: #0f0;
}

.task-container {
    width: 350px;
    background-color: #fff;
    min-height: 70px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 30px;

    margin-top: 20px;
    padding: 15px 20px;
}

.task {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

li {
    list-style: none;
    flex: 5;
}

.check-btn {
    background-color: #fff;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 5px;
    font-size: 20px;

    transition: .3s;
}

.delete-btn {
    background-color: #fff;
    color: #f00;
    border: 1px solid #f00;
    padding: 5px;
    font-size: 20px;

    transition: .3s;
}

.check-btn:hover {
    background-color: #0f0;
    color: #fff;
}

.delete-btn:hover {
    background-color: #f00;
    color: #fff;
}